@use "./function" as f;

@mixin input {
  display: block;
  border: 1px solid var(--color-dark-blue);
  color: var(--color-light-gray);
  max-width: 100%;
  margin: auto;
  outline: none;
  padding: f.rem(12);
}

@mixin button {
  border: none;
  border-radius: f.rem(5);
  background-color: var(--color-bright-blue);
  color: var(--color-white);
  cursor: pointer;
  display: block;
  max-width: 100%;
  margin: auto;
}

@mixin grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@mixin grid_image_item {
  grid-column-start: 2;
  grid-column-end: 3;
}

@mixin grid_description_item {
  grid-row-start: 1;
  grid-column-end: 2;
}