@use "../util/" as u;

body {
  font-family: u.$open_sans_font_family;
  padding-top: u.rem(20);
  padding-bottom: u.rem(20);
}

.wrapper {
  width: min(100% - 2rem, u.rem(1280));
  margin-inline: auto;
}