@use "../util/" as u;

.main {
  &__cta {
    background-color: var(--color-de_saturated-blue);
    padding-top: u.rem(40);
    padding-bottom: u.rem(40);
  }

  &__cta_heading {
    text-align: center;
    color: var(--color-white);
    padding-bottom: u.rem(10);
  }

  &__cta_message {
    text-align: center;
    padding: u.rem(0) u.rem(20) u.rem(10);
    color: var(--color-white);
  }

  &__cta_input {
    @include u.input;
    width: u.rem(240);
    height: u.rem(32);
    margin-bottom: u.rem(10);
  }

  &__cta_button {
    @include u.button;
    width: u.rem(240);
    height: u.rem(32);
  }
}