@use "../util/" as u;

.footer {
  background-color: #07043B;
  color: var(--color-white);
  padding-top: u.rem(40);
  padding-bottom: u.rem(40);

  &__container {
    display: flex;
    flex-direction: column;
    gap: u.rem(20);

    @include u.breakpoint(large) {
      flex-direction: row;
      align-items: center;
      gap: u.rem(300);
    }
  }

  &__image {
    width: u.rem(105);
    height: u.rem(30);
    margin-bottom: u.rem(20);
    filter: invert(100%) sepia(14%) saturate(0%) hue-rotate(79deg) brightness(102%) contrast(101%);
  }

  &__icon_phone,
  &__icon_email {
    float: left;
    padding-right: u.rem(10);
  }

  &__icon_phone_message {
    padding-bottom: u.rem(20);
  }

  &__information,
  &__company {
    display: flex;
    flex-direction: column;
    gap: u.rem(10);
  }

  &__information {
    @include u.breakpoint(large) {
      padding-top: u.rem(90)
    }
  }

  &__company {
    @include u.breakpoint(large) {
      padding-top: u.rem(60)
    }
  }
}