@use "../util/" as u;

.footer {
  background-color: hsl(243, 87%, 12%);
  color: var(--color-white);
  padding-top: u.rem(40);
  padding-bottom: u.rem(40);

  &__container {
    display: flex;
    flex-direction: column;
    gap: u.rem(20);

    @include u.breakpoint(large) {
      flex-direction: row;
      align-items: center;
      gap: u.rem(300);
    }
  }

  &__icon_item {
    display: flex;
    align-items: center;
    gap: u.rem(10);
    padding-bottom: u.rem(10);
  }

  &__image {
    width: u.rem(105);
    height: u.rem(30);
    margin-bottom: u.rem(20);
    filter: brightness(0) invert(1);
  }

  &__information,
  &__company {
    display: flex;
    flex-direction: column;
    gap: u.rem(10);
  }

  &__information {
    @include u.breakpoint(large) {
      padding-top: u.rem(90)
    }
  }

  &__company {
    @include u.breakpoint(large) {
      padding-top: u.rem(60)
    }
  }
}