@use "../util/" as u;

.header {
  padding-bottom: u.rem(40);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    width: u.rem(80);
    height: u.rem(24);

    @include u.breakpoint(large) {
      width: u.rem(166);
      height: u.rem(49);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: u.rem(10);
    padding: u.rem(10);

    @include u.breakpoint(large) {
      gap: u.rem(24);
    }

    a:link {
      color: var(--color-dark-blue);
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
      color: var(--color-dark-blue);
    }
  }
}