@use "../util/" as u;

.main {
  &__productive {
    background-image: url("../../images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: u.rem(80);

    @include u.breakpoint(large) {
      background-image: url("../../images/bg-curve-desktop.svg");
    }
  }

  &__productive_grid {
    @include u.breakpoint(large) {
      background-image: url("../../images/bg-curve-desktop.svg");
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__productive_top {
    padding-top: u.rem(80);
    padding-bottom: u.rem(80);

    @include u.breakpoint(large) {
      @include u.grid_image_item;
      padding: 0;
      margin: auto;
    }
  }

  &__productive_image {
    width: u.rem(320);
    height: u.rem(241);
    margin: 0 auto;

    @include u.breakpoint(large) {
      width: u.rem(542);
      height: u.rem(409);
      margin: 0;
    }
  }

  &__productive_bottom {
    padding-bottom: u.rem(80);

    @include u.breakpoint(large) {
      @include u.grid_description_item;
    }
  }

  &__productive_heading {
    text-align: center;
    padding: u.rem(20);
    color: var(--color-dark-blue);

    @include u.breakpoint(large) {
      text-align: left;
      padding: u.rem(80) u.rem(0) u.rem(20) u.rem(0);
    }
  }

  &__productive_message {
    text-align: center;
    padding: u.rem(10);
    color: var(--color-de_saturated-blue);

    @include u.breakpoint(large) {
      text-align: left;
      padding: u.rem(0) u.rem(180) u.rem(20) u.rem(0);
    }
  }

  &__productive_message_link {
    text-align: center;
    padding: u.rem(20);

    @include u.breakpoint(large) {
      text-align: left;
      padding: u.rem(0) u.rem(180) u.rem(20) u.rem(0);
    }
  }

  &__productive_message_image {
    display: inline-block;
  }

  a:link {
    color: var(--color-moderate-cyan);
  }

  a:visited {
    color: var(--color-moderate-cyan);
  }

  &__productive_testimonial {
    background-color: var(--color-white);
    border-radius: u.rem(10);
    max-width: u.rem(280);
    height: u.rem(170);
    margin: auto;

    @include u.breakpoint(large) {
      max-width: u.rem(356);
      margin: 0;
    }
  }

  &__productive_testimonial_message {
    text-align: left;
    font-size: clamp(u.rem(10), 0.5589788732394366rem + 0.2816901408450704vw, u.rem(13));
    padding: u.rem(20);

    @include u.breakpoint(large) {
      padding: u.rem(20) u.rem(60) u.rem(20) u.rem(20);
    }
  }

  &__productive_testimonial_container {
    padding-left: u.rem(20);
    display: flex;
    align-items: center;
    gap: u.rem(10);
  }

  &__productive_testimonial_image {
    border-radius: 50%;
    width: u.rem(24);
    height: u.rem(24);
  }

  &__productive_testimonial_name {
    font-size: clamp(u.rem(9), 0.5184859154929577rem + 0.18779342723004694vw, u.rem(11));
    font-weight: u.$seven_hundred_font_weight;
  }

  &__productive_testimonial_title {
    font-size: clamp(u.rem(6), 0.33098591549295775rem + 0.18779342723004694vw, u.rem(5));
  }
}