:root {
  //Primary 
  --color-dark-blue: hsl(243, 87%, 12%);
  --color-de_saturated-blue: hsl(244, 14%, 43%);
  //Accent - 
  --color-bright-blue: hsl(224, 93%, 58%);
  --color-moderate-cyan: hsl(170, 45%, 43%);
  //Neutral 
  --color-light-grayish-blue: hsl(240, 75%, 98%);
  --color-light-gray: hsl(0, 0%, 75%);
}